body {
    background-color: purple;
    color: white;
}

div {
    text-align: center;
}


.iconfont {
    font-size: 50px;
    font-weight: 700;
    cursor: pointer;
    padding: 5px;
}

.btn-box {
    /* width: 500px; */
    text-align: center;
    padding: 2px;
}